@import 'tailwindcss';

:root {
  --background-base: #000;
  --text-color-base: #fff;
}

html {
  background-color: var(--background-base);
  color: var(--text-color-base);
  scroll-behavior: smooth;
}

.section {
  margin-top: 10rem;
}